#home{
	background-image: url(home.jpg);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: cover;
	font-family: 'Karla', sans-serif;
}

#about{
	background-image: url(about.jpg);
	background-repeat: no-repeat;
	background-position: 0% 0%;
	background-size: cover;
	font-family: 'Karla', sans-serif;
}

#header{
	font-size: 3.5em;

}

#content{
	font-size: 2.5em;
}

.sidebar{
	display: inline-block;
	background: white;
	float: left;
}

.nav{
	line-height: 2.5em;
}


.container{
	left: 25%;
	top: 5em;
	position: absolute;
	border-style: none;
	background: transparent;
	height: 500px;
	width: 70%;
}

.info{
	position: absolute;
	background: white;
	font-size: 1.5em;
}

/*desktops*/
@media (min-width: 1050px) { 


.email{
	display: inline-block;
	background: white;
	left: 0.25em;
	bottom: 0.5em;
	position: absolute;
	line-height: 1em;
}

	#block1{
		left: 32px;
		top: 1em;
		font-size: 1.8em;
	}

	#block1home{
		left: 32px;
		top: 1em;
		font-size: 1.8em;
	}

	#block2{
		left: 105px;
		top: 3.5em;
	}
	#block2home{
		left: 105px;
		top: 3.5em;
	}

	#block7{
		left: 5px;
		top: 8em;
		font-size: 1.3em;
	}

	#block8{
		left: 180px;
		top: 9.9em;
		font-size: 1.3em;
	}

	#block9{
		left: 50px;
		top: 12.8em;
		font-size: 1.3em;
	}

	#block9home{
		left: 50px;
		top: 12.8em;
		font-size: 1.3em;
	}


	/*external link blocks*/

	#block3{
		left: 40px;
		top: 15em;
	}
	#block4{
		left: 47px;
		top: 17.1em;
	}
	#block5{
		left: 130px;
		top: 16.5em;
	}
	#block6{
		left: 160px;
		top: 16.7em;
		padding: 4px;
	}
}

/*smaller screens*/
@media (min-width: 650px) and (max-width: 1049px) {


.email{
	display: inline-block;
	background: white;
	left: 0.25em;
	bottom: 0.5em;
	position: absolute;
	line-height: 1em;

}

	#block1{
		left: 32px;
		top: 1em;
		font-size: 1.8em;
	}

	#block1home{
		left: 32px;
		top: 1em;
		font-size: 1.8em;
	}

	#block2{
		left: 105px;
		top: 4.5em;
	}

	#block2home{
		left: 105px;
		top: 4.5em;
	}

	#block7{
		left: 5px;
		top: 10em;
		font-size: 1.3em;
	}

	#block8{
		left: 100px;
		top: 13em;
		font-size: 1.3em;
		width:400px;
	}

	#block9{
		left: 50px;
		top: 18em;
		font-size: 1.3em;
	}
	#block9home{
		left: 50px;
		top: 13em;
		font-size: 1.3em;
	}


	/*external link blocks*/

	#block3{
		left: 40px;
		top: 18em;
	}
	#block4{
		left: 47px;
		top: 20.1em;
	}
	#block5{
		left: 130px;
		top: 19.5em;
	}
	#block6{
		left: 160px;
		top: 19.7em;
		padding: 4px;
	}
}

/*mobile here:*/
@media (max-width: 649px){

	body{
		height: 170vh; /* set viewport constraint */
	    min-height: 100%; /* enforce height */

	}

	.container{
		left: 0;
		top: 5em;
		position: absolute;
		border-style: none;
		background: transparent;
		height: 500px;
		width: 100%;
	}

	.email{
		display: inline-block;
		background: white;
		position: absolute;
		left: 50%;
  		margin-left: -50px;
  		top: 9.25em;
		z-index: 1000;
		line-height: 1em;
	}
	.nav{
		z-index: 999;
		margin: 0;
		position: absolute;
		left: 50%;
  		margin-left: -50px;
  		top: -2em;
	}

	#block1{
		left: 10px;
		top: 13em;
		font-size: 1.8em;
		width: 90%;
	}

	#block1home{
		left: 10px;
		top: 15em;
		font-size: 1.8em;
		width: 80%;
	}

	#block2{
		left: 50px;
		top: 19.7em;
		width: 80%;
	}

	#block2home{
		left: 100px;
		top: 22.5em;
		width: 70%;
	}

	#block7{
		left: 15px;
		top: 30em;
		font-size: 1.3em;
		width: 80%;
	}

	#block8{
		left: 60px;
		top: 34.3em;
		font-size: 1.3em;
		width:80%;
	}

	#block9{
		left: 40px;
		top: 40.2em;
		font-size: 1.3em;
		width: 85%;
	}
	#block9home{
		left: 50px;
		top: 34em;
		font-size: 1.3em;
		width: 75%;
	}


	/*external link blocks*/

	#block3{
		left: 40px;
		top: 39em;
	}
	#block4{
		left: 47px;
		top: 41.1em;
	}
	#block5{
		left: 130px;
		top: 41.5em;
	}
	#block6{
		left: 160px;
		top: 40.7em;
		padding: 4px;
	}
}




a:link {
    color: black;
    text-decoration: none;

}

a:link#intext {
    color: black;
    text-decoration: underline;

}


/* visited link */
a:visited {
    color: black;
    text-decoration: none;
}

/* mouse over link */
a:hover {
    color: grey;
    text-decoration: underline;
}

/* selected link */
a:active {
    color: black;
    text-decoration: none;
}